body {
    font-family: 'Tajawal', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ba88d7;

}

.title {
    font-family: 'Tajawal:900', sans-serif;

}

.main {
    min-width: 50ch;
    max-width: 80ch;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-self: center;
    margin-left: 25%;

}

/* .contactLink {
    font-family: 'Tajawal:900', sans-serif;
} */

img {
    width: 500px;
    height: auto;
}

.photoCred {
    margin-left: 140px;
}

#images img {
    padding: 0;
    margin: 0;
    display: block;
}


.cred {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}

.downloadLink {
    padding-top: 100px;
}

.quoteLink {
    font-family: 'Tajawal:900', sans-serif;
}

#quotes {
    padding-top: 40px;
    padding-bottom: 40px;
}